<a href="https://colab.research.google.com/github/yuxuan0702/Summer-Research-Project-/blob/master/covid_19_aggregation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#import packages 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt 
import seaborn as sns 


pd.options.display.max_rows = 999
plt.style.use('fivethirtyeight')
%matplotlib inline

/usr/local/lib/python3.6/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

In [2]:
# import dataset 
df = pd.read_csv('/content/drive/My Drive/Summer-Research/data/Covid_19_By_states.csv',usecols = ['date','state','positive','hospitalizedCumulative','inIcuCumulative','onVentilatorCumulative','recovered','death'],parse_dates=['date'])
df['month'] = df['date'].dt.month
df.sort_values('month',ascending=True,inplace = True)
df.head()

           date state  positive  ...  recovered  death  month
4944 2020-01-22    WA       1.0  ...        NaN    NaN      1
4935 2020-01-31    WA       1.0  ...        NaN    NaN      1
4936 2020-01-30    WA       1.0  ...        NaN    NaN      1
4937 2020-01-29    WA       1.0  ...        NaN    NaN      1
4938 2020-01-28    WA       1.0  ...        NaN    NaN      1

[5 rows x 9 columns]

In [0]:
# only choose march, april, may and june
df = df[(df.month ==3)|(df.month==4)|(df.month==5)|(df.month==6)]

In [4]:
# pivot table to aggregate data 
agg_df = df.pivot_table(index = 'state',columns = 'month',aggfunc = 'sum',fill_value=0,)
agg_df.drop(index= 'AS',inplace = True)
agg_df

      death                         ... recovered
month     3       4       5      6  ...         3       4        5      6
state                               ...
AK       13     230     305     10  ...         0    3435    10238    368
AL       30    3936   14341    646  ...         0       0    85126   9355
AR       34     989    3116    133  ...       159   16844   105630   5401
AZ      113    4792   19859    917  ...         0   17906    98685   4869
CA      910   28692   97739   4251  ...         0       0        0      0
CO      264   11068   34971   1445  ...         0   13351   101155   3919
CT      268   29587  100822   3964  ...         0       0   185349   7511
DC       42    2650   11291    468  ...       414   14807    29247   1126
DE       28    1811    8381    368  ...        62   13201   104779   5353
FL      439   19320   61797   2543  ...         0       0        0      0
GA      622   17746   49289   2074  ...         0       0        0      0
GU       11     138     155      5  ...        28    2324     4019    145
HI        0     260     524     17  ...        49    9205    17678    608
IA       25    1956   10714    551  ...       121   30660   215652  11440
ID       25    1043    2245     82  ...         0   10942    50532   2248
IL      417   32410  124531   5412  ...         0       0        0      0
IN      240   14327   52715   2142  ...         0       0    21704  22224
KS       53    2198    5252    217  ...         0     538    13084    547
KY       68    3644   10410    439  ...         0   22671    80568   3232
LA     1129   32400   75601   2801  ...         0  143847   737020  31728
MA      651   50046  170688   6846  ...         0       0        0      0
MD       74   13751   59238   2552  ...        25   20698    82865   3782
ME       13     843    2180     89  ...       233   10131    32294   1586
MI      920   59532  148883   5516  ...         0   76784   782769  38099
MN       47    3818   21869   1060  ...       755   27178   304857  19441
MO       85    4568   17463    773  ...         0       0        0      0
MP        0      53      62      2  ...         0     142      389     16
MS       84    3972   15804    739  ...         0    6826   204636  11203
MT       10     277     502     17  ...         0    5903    13316    461
NC       28    4586   19758    898  ...         0       0   249942  18860
ND        7     294    1315     61  ...        98    5548    35191   2078
NE        9     802    3659    170  ...         0       0        0      0
NH       14     954    4924    245  ...         0   12169    49322   2948
NJ     1160  102702  308935  11721  ...         0   47608   631433  26703
NM       12    1356    7506    356  ...        54   10592    52570   2853
NV       99    3885   10512    421  ...         0     258     8802    459
NY     6208  330353  682785  23959  ...     17522  908950  1884841  66110
OH      213   12517   49709   2206  ...         0       0        0      0
OK      101    3694    8877    334  ...         0   36409   120907   5511
OR      120    1807    4161    154  ...         0       0    40454   2164
PA      253   26374  130391   5567  ...         0       0   430249  48428
PR       34    1534    3631    136  ...         0       0        0      0
RI       15    3565   15471    720  ...        35    5926    28566   1281
SC      113    3194   11656    500  ...         0   39780   158098   6459
SD       14     211    1279     62  ...       170   17198    84072   3903
TN       65    3672    8915    367  ...       121   74994   310510  15564
TX      227   11438   39119   1678  ...        76  138687   831932  43338
UT       20     722    2461    113  ...         0   17675   121919   6251
VA      153    7052   30685   1392  ...         0   24942   123808   5899
VI        0      58     165      6  ...        21    1287     1816     62
VT       94     980    1653     55  ...        15     300    21033    880
WA     2917   16619   30239   1118  ...         0       0        0      0
WI      105    5323   13919    595  ...         0    3352   212528  11838
WV        2     488    1932     75  ...         0    6266    28186   1313
WY        0      82     296     17  ...       124    5368    15524    667

[55 rows x 24 columns]

In [5]:
df2 = pd.read_csv('/content/drive/My Drive/Summer-Research/data/cleaned_chronicle.csv',index_col=[0])
df2.head()

                                      Institution  ...       Long
0                    Abilene Christian University  ... -99.708098
1                              Adelphi University  ... -73.652254
2                                  Adrian College  ... -84.059241
3                             Agnes Scott College  ... -84.294535
4  Albany College of Pharmacy and Health Sciences  ... -73.778839

[5 rows x 7 columns]

In [6]:
df_new = pd.merge(df2,agg_df,left_on='State',right_index=True,how = 'right').reset_index()
df_new.drop(columns = 'index',inplace = True)
df_new.head()

/usr/local/lib/python3.6/dist-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (1 levels on the left, 2 on the right)
  warnings.warn(msg, UserWarning)

                    Institution  Control  ... (recovered, 5) (recovered, 6)
0  Abilene Christian University  Private  ...         831932          43338
1       Angelo State University   Public  ...         831932          43338
2             Baylor University  Private  ...         831932          43338
3    Concordia University Texas  Private  ...         831932          43338
4     Dallas Baptist University  Private  ...         831932          43338

[5 rows x 31 columns]

In [0]:
#change columns name to be more clear 
columns_name = ['Institution','Control','State','Category','Plan','Lat','Long',
                           'March_Death','April_Death','May_Death','June_Death',
                           'March_Hospitalized','April_Hospitalized','May_Hospitalized','June_Hospitalized',
                           'March_InICU','April_InICU','May_InICU','June_InICU',
                           'March_onVentilatorCumulative','April_onVentilatorCumulative','May_onVentilatorCumulative','June_onVentilatorCumulative',
                           'March_Positive','April_Positive','May_Positive','June_Positive',
                           'March_Recovered','April_Recovered','May_Recovered','June_Recovered']

In [8]:
# new data frame 
df_new.columns = columns_name
df_new.head()

                    Institution  Control  ... May_Recovered June_Recovered
0  Abilene Christian University  Private  ...        831932          43338
1       Angelo State University   Public  ...        831932          43338
2             Baylor University  Private  ...        831932          43338
3    Concordia University Texas  Private  ...        831932          43338
4     Dallas Baptist University  Private  ...        831932          43338

[5 rows x 31 columns]

In [0]:
df_new.to_csv('combine_covid_19.csv',index = False)